# Logs
logs
*.log
npm-debug.log*

package.json

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
eslint.config.js

# Dependency directories
node_modules/
.parcel-cache/
coverage/
# Distribution directories
